.about {
  position: relative;
  min-width: 250px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  max-width: 1000px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content h2 {
  margin: 0;
  padding-bottom: 20px;
}

.skills h2 {
  margin: 0;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.logos img {
  width: 100px;
  height: auto;
  margin: 5px;
}

.about-content h2 {
  color: black;
}

.logo-container .logo-info {
  color: black;
  background-color: white;
  border-radius: 8px;
  opacity: 1;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 2em !important;
  max-width: 200px;
  z-index: 5;
}

.logo-info h2 {
  text-align: center;
  margin: none;
}

.rating {
  text-align: center;
}