.contact {
  position: relative;
  min-width: 250px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.contact-container h2 {
  color: black;
  padding-bottom: 20px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 40px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 30%;
}

@media (max-width: 768px) {
  .contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: calc(80% - 80px);
    max-width: 300px;
  }

}