.contact {
  position: relative;
  min-width: 250px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  padding-inline: 20px;
  justify-content: space-around;
}

.contact-container h2 {
  color: black;
  padding-bottom: 20px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-self: self-start;
  padding-top: 20px;
}

.info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 10px;
}

.image-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.image-content img {
  height: 50px;
}

.image-content .github-logo {
  filter: invert(0);
}

.image-content .linkedin-logo {
  filter: invert(0);
}

.image-content img.github-logo:hover {
  filter: invert(1);
}

.image-content img.linkedin-logo:hover {
  filter: invert(0.9);
}

.info-content h4 {
  margin: 0px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  min-width: 350px;
  height: 400px;
}

@media (max-width: 768px) {
  .contact-form-container {
    padding: 20px;
    min-width: calc(80% - 40px);
    max-width: 300px;
  }

  .contact-information {
    padding-top: 0;
  }
}