.home {
  position: relative;
}

.image-container {
  overflow: hidden;
  height: 600px;
  min-width: 250px;
}

.home-text {
  color: #FFD700;
}

.image-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
}

.content {
  position: absolute;
  top: 40%;
  padding: 50px;
  color: white;
  min-height: 200px;
}

.homepage-logos {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 40px;
}

.homepage-logos img {
  height: 50px;
}

.github-logo {
  filter: invert(1);
}

@media (max-width: 600px) {
  .image-background {
    background-position: 480px
  }
  
  .homepage-logos {
    padding: 20px;
  }

  .content {
    top: 60%;
    text-align: center;
    padding: 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 400px) {
  .image-background {
    background-position: 390px
  }

  .content {
    top: 50%
  }
}