.projects {
  position: relative;
  min-width: 250px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-bottom: 20px;
}

.projectBox {
  width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  margin-bottom: 20px;
  padding: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectBox img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  align-self: center;
  border-radius: 8px;
}

.projectBox h2 {
  color: black;
}

@media (max-width: 768px) {
  .projectBox {
    width: calc(100% - 80px);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .projectBox img {
    width: 100%;
    max-height: 100vw;
    height: auto;
    align-self: center;
  }
}

@media (max-width: 1169px) {
  .projectBox {
    width: 100%;
  }  
}