.timeline {
  position: relative;
  min-width: 250px;
}

.vertical-timeline-element-icon {
  background: black;
  box-shadow: none;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 2em !important;
}

.vertical-timeline-element {
    margin: 1em 0em;
}

.date {
  color: black;
  font-weight: bold;

}

.description {
  margin: 1.5em 0 2em 0;
}

@media (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
  }

  .vertical-timeline.vertical-timeline--two-columns:before {
    width: 8px;
    margin-left: -4px;
    background: black;
  }
}

@media (max-width: 1169px) {
  .timeline {
    overflow: hidden;
    max-width: 100vw;
  }
  
  .vertical-timeline.vertical-timeline--two-columns:before {
    width: 6px;
    margin-left: -1px;
    background: black;
  }

  .vertical-timeline.vertical-timeline--two-columns:before {
    background: black;
  }

  .vertical-timeline-element-icon {
    background: black;
    box-shadow: none;
  }
}