.form-box {
  width: 100%;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-label {
  text-align: center;
}

.contact-form input {
  padding: 5px;
}

.input-error {
  border: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
}

.submit {
  margin-top: 20px;
  padding: 10px;
  background-color: #FFD700;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.submit:hover {
  background-color: #CCAC00;
}

.contact-form textarea {
  padding: 5px;
  height: 50px;
  resize: none;
}

.submit-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.show-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}