.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  padding: 5px;
}

.contact-form label {
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-error {
  border: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
}

.submit {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0056b3;
}

.contact-form textarea {
  padding: 5px;
  min-height: 50px;
  max-height: 200px;
  min-width: calc(100% - 10px);
  max-width: calc(30vw - 30px);
}

