.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 250px;
}

.footer img { 
  height: 50px;
}

.footer .github-logo {
  filter: invert(1);
}



img.github-logo:hover {
  filter: invert(0);
}