.header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  transition: top 0.3s;
}

.header.hidden {
  top: -100px;
}

.navigationbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.item {
  padding-left: 10px;
  padding-right: 10px;
}

.item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.logo img {
  transition: filter 0.3s;
  padding-right: 40px;
}

.logo img:hover {
  filter: invert(100%);
}

.item a:hover {
  color: black;
}

@media (max-width: 768px) {
  .navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo img {
    transition: filter 0.3s;
    padding-left: 40px;
    padding-right: 0;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 40px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.3s;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 5px;
    background-color: black;
    padding: 20px;
    transition: transform 0.5s;
    margin-top: 2px;
  }

  .navigationbar.open .menu {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }

  .item {
    padding: 10px;
  }

  .navigationbar.open .bar:nth-child(1) {
    transform-origin: left center;
    transform: translateY(-100%) rotate(45deg);
  }
  
  .navigationbar.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navigationbar.open .bar:nth-child(3) {
    transform-origin: left center;
    transform:  rotate(-45deg);
  }
}