body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

.info-title {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: black;
}

.github-logo {
  filter: invert(1);
}

.linkedin-logo {
  filter: invert(1);
}

img.github-logo:hover {
  filter: invert(0);
}

img.linkedin-logo:hover {
  filter: invert(0);
}